body {
    margin: 0;
    padding: 0;
}
.Alonso {
    text-align: center;
}
#Logo img{
    padding-top: 11px;
    width: 22%;
    height: auto;
}
@media screen and (max-width: 768px) {
    #Logo img {
        width: 50%;
    }
}

/* ---------------------------------------------------------- */

hr {
    border: solid black 1px;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
@media screen and (max-width: 768px) {
    hr{
        display: none;
    }
}

/* ---------------------------------------------------------- */

@media screen and (min-width: 769px) {
    #Home2{
        display: none !important;
    }
}

#Home2{
    display: block;
    color: black;
    margin: 13px;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: x-large;
}

/* ---------------------------------------------------------- */

.top {
    display: flex;
    justify-content: space-evenly;
}
#Number, #Home, #OurWork{
    color: black;
    text-decoration: none;
    align-self: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: large;
}
#Number{
    margin-left: -135px;
    margin-right: 100px;
}
#OurWork{
    margin-right: 110px;
}
#FacebookImg{
    margin-right: -140px;
    margin-left: -280px;
}
#Home{
    margin-right: -200px;
    margin-left: -25px;
}
#IgImg img, #FacebookImg img {
    max-width: 50px;
    height: auto;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .top{
        display: none;
    }
}

/* ---------------------------------------------------------- */

* {
    box-sizing: border-box;
}
.container {
    position: relative;
    min-height: 100vh;
    background: white
}

.container .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding: 10px;
}

.container .image-grid .image {
    height: 350px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.container .image-grid .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-grid .image:hover img {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.7); 
}

.container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.7); 
}

.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    max-height: 700px;
}

@media (max-width: 768px){
    .container .popup-image img{
        width: 95%;
    }
}

/* ---------------------------------------------------------- */

.container .image-grid .image {
    position: relative;
    overflow: hidden;
}

.additional-images-indicator {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 5px;
    top: 14px;
    right: 14px;
    z-index: 1;
    font-size: 21px;
}

/* ---------------------------------------------------------- */

.prev-btn, .next-btn {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 101;
    padding: 20px !important;
    width: auto; 
    height: auto; 
    font-weight: bold;
    transition: .6s ease;
    user-select: none;
}
@media (max-width: 768px) {
    .prev-btn, .next-btn {
        top: 82%;
    }
}
.container .popup-image .prev-btn {
    left: 100px;
}

.container .popup-image .next-btn {
    right: 100px;
}

/* ---------------------------------------------------------- */

.Info{
    color: gray;
    text-align: center;
    font-size: large;
    color: #0B0B2B;
}

#Number2 , .Info a{
    text-decoration: none;
    color: #0B0B2B;
}
@media screen and (max-width: 768px) {
    .Info{
        text-align: center;
    }
}

/* ---------------------------------------------------------- */

.WMBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.WaterMark{
    margin: 10px auto;
    width: 70%;
}

.WaterMarkPhotos img{
    width: 60px;
    float: left;
    display: flex;
    margin-left: -10px;
}

.WaterMark p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-left: 33.5%;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .WMBody{
        text-align: center;
    }
}

/* ---------------------------------------------------------- */

* {
    box-sizing: border-box;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
}

@media(max-width:768px) {
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

  /* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
    opacity: 1;
    }
    to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
}
